---
import BaseLayout from '../layouts/BaseLayout.astro'

let title = "Gallery";

---
<BaseLayout title = {title}> 

<p>Gallery - Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, cupiditate ut. Consectetur, optio ad aliquam possimus labore ex enim sequi eum debitis saepe obcaecati voluptatibus dicta voluptatum repellendus ipsum magnam!</p>

</BaseLayout>
